<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ailspin.SpaceGame.Web.Models" value="https://pkgs.dev.azure.com/chapared/e0da038e-63e7-4ae9-bedb-ba8488026dab/_packaging/ailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <ailspin.SpaceGame.Web.Models>
        <add key="Username" value="VssSessionToken" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAgImPrLAUQEuJR57gBtIxnwAAAAACAAAAAAAQZgAAAAEAACAAAAD/xYQ03YBS8rYQVVl5HpGVKj19sVqiKEwQuZLTXa3qvAAAAAAOgAAAAAIAACAAAACHQxmB6AoHypEXMyY3hi8n5UwSLloVR/S5lATw2yo7I0AAAAAje0XTR4g+OJbR58qbag5ZmrRi6sYtxsXmsvOCCpCQFGGxt7OWXoTJBZDbcr2/Wr4GtrTIlTqb8wyeqioQTgCVQAAAAPQYYEFUrLeRlmTOY1iRunHjVBIL9mtjYGHaK7Ai9rtK9YioXpIZqo9d0PJCzVDglrouPSfJNlPDLz9HbtlOf0A=" />
      </ailspin.SpaceGame.Web.Models>
  </packageSourceCredentials>
</configuration>